<template name ="about">
	<div>
		<div>
			<img src="/about.jpg" class="img-responsive" alt="Image">
		</div>
		<div>
			<p align="justify">
				<h1> Bienvenido a PhotoStudio </h1>
					PhotoStudio es una página de edición de fotos donde tu puedes requerir nuestros servicios de manejo de herrmaientas.Tu puedes cargar imagenes y seleccionar el tipo de mejora que quieres que se aplique a tus fotografias, la mejora se hace a nivel profesional. 
					Puedes saber mas  acerca de nuestro servicio en nuestro solo ve a la pestaña contacto y haznos tus consultas .
					
					Efectos en la foto - realizamos efectos sobre tus imagenes las que te presentamos y si quisieras algo en especial tambien lo podemos realizar.
					
					Tarjetas- Para esos dias especiales te ofrecemos mas opciones ademas de descueentos por edicionde fotografias.

					Galeria de fotos
					Visita nuestra Galeria Foto ahi podras ver nuestro trabajos y la diversidad de mejoras que te ofrecemos.
				</p>
		</div>
	</div>
</template>