<template name="contact">
	<div>
		<div>
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				<h1>TWITTER</h1>
				<img src="/twitter.png" class="img-responsive" alt="Image">
				<h2>Siguenos en nuestra cuenta de TWITTER</h2>	
				<a href=""></a>
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				<h1>FACEBOOK</h1>
				<img src="/facebook.png" class="img-responsive" alt="Image">
				<h2>Siguenos en nuestra cuenta de Facebook</h2>	
				<a href="">https://www.facebook.com/profile.php?id=100006900348064</a>
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				<h1>WHATSAPP</h1>
				<img src="/whatsapp.png" class="img-responsive" alt="Image">
				<h2>Contactanos por WHATSAPP</h2>	
				<a href=""># Contacto a: 68381798 #</a>
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				<h1>UBICACION:</h1>
				<img src="/ubicacion.png" class="img-responsive" alt="Image">
				<h3>Universidad Autonoma Tomas Frias</h3>
			</div>
		</div>
	</div>
	
</template>